@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: #ece9e6;
    height: 100vh;

    display: flex; /* Centers phone to screen */
    align-items: center;
    justify-content: center;
}

#parent-div {
    background: #fff;
    width: 350px;
    height: 600px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); /* horizontal, vertical, blur radius, spread radius, color */

    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-div {
    height: 75px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*border: 1px solid forestgreen;*/
}

#search-div form {
    display: flex; /* To vertically align button correctly with search box */
    /*border: 1px solid orange;*/
}

#bars-icon {
    /*padding: 5px;*/
    margin-right: 20px;

    /*border: 1px solid red;*/
}

#bars-icon:hover {
    cursor: pointer;
    background: red;
}

#search-input {
    border: none;
    border-radius: 2px;
    background: #eee;
    height: 25px;
    width: 200px;
    padding: 4px 8px;
    font-size: 16px;

    /*border: 1px solid firebrick;*/
}

#search-button {
    background: #fff;
    border: none;
    margin-left: 6px;
    /*margin-top: 50px;*/

    /*border: 1px solid red;*/
    /*border-radius: 3px;*/
}

#search-button:hover {
    cursor: pointer;
}

#favourite-meals-div {
    background: #f3e1ff;
    width: 100%;
    /*min-height: 200px;*/
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#all-fav-meals {
    width: 100%;
    height: 100%;

    /*border: 1px solid black;*/
}

#all-meals-div {
    flex-grow: 2.5;
    height: 325px;
}