@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: #ece9e6;
    height: 100vh;

    display: flex; /* Centers phone to screen */
    align-items: center;
    justify-content: center;
}

#parent-div {
    background: #fff;
    width: 350px;
    max-height: 600px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); /* horizontal, vertical, blur radius, spread radius, color */

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -- 1. Search Section -- */

#search-div {
    height: 75px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*border: 1px solid forestgreen;*/
}

#search-div form {
    display: flex; /* To vertically align button correctly with search box */
}

#bars-icon {
    margin-right: 20px;

    /*border: 1px solid red;*/
}

#bars-icon:hover {
    cursor: pointer;
    background: red;
}

#search-input {
    border: none;
    border-radius: 2px;
    background: #eee;
    height: 25px;
    width: 200px;
    padding: 4px 8px;
    font-size: 16px;

    /*border: 1px solid firebrick;*/
}

#search-button {
    background: #fff;
    border: none;
    margin-left: 6px;

    /*border: 1px solid red;*/
    /*border-radius: 3px;*/
}

#search-button:hover {
    cursor: pointer;
}

/* -- 2. Favourite Meals Section -- */

#favourite-meals-div {
    background: #f3e1ff;
    width: 100%;
    /*min-height: 200px;*/
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* -- 3. All Meals Section -- */

#all-meals-div {
    width: 100%;
    overflow-y: scroll;
    /*border: 1px solid green;*/
}

#meal {
    /*width: 100%;*/
    box-shadow: 0 0 10px 2px #3333331a;
    cursor: pointer;
    overflow: hidden;
    margin: 1.2rem;
    border-radius: 3px;

    /*border: 1px solid brown;*/
}

#meal-image {
    object-fit: cover; /* Crops instead of stretching the image */
    height: 250px;
    width: 100%;
}

#meal-name {
    margin: 0;
}

#meal-body-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    /*border: 1px solid yellow;*/
}

#fav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #c5bcbc;
    font-size: 1.2rem;
}

/* -- 4. Popup Section -- */

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);

    /* Makes the popup container occupy 100% width and height of page */
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    /* Once container has occupied full page, this centers the .popup div to its center */
    display: flex;
    justify-content: center;
    align-items: center;

    /*border: 3px solid red;*/
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none; /* The div is always on page. This property allows us to click past it into the main div */
}

.popup {
    width: 100%;
    max-width: 600px;
    max-height: 100vh;
    background-color: #fff;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 0 2rem;
    position: relative; /* To set "position: absolute" for the 'X' button within */

    /*border: 3px solid green;*/
}

.close-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.meal-info h1 {
    text-align: center;
}