@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url('concert.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: -24rem;
    font-weight: normal;
}

#timer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.time {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    text-align: center;
}

.big-text {
    font-size: 3rem;
    margin-top: 1rem; /* Somehow this moves it up. Not sure where the default margin is coming from */
}

.small-text {
    font-size: 1.5rem;
    margin-top: -2rem;
}